@font-face {
  font-family: "made";
  src: url(/fonts/madeweb/made_canvas_black_personal_use-webfont.ttff);
}

@import url('https://fonts.googleapis.com/css?family=Radley&display=swap');


@font-face {
  font-family: 'Druk Wide';
  src: url('http://swim.club/webfonts/Druk-WideMedium.woff2') format('woff2'),
    url('http://swim.club/webfonts/Druk-WideMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

